<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
<title>Insert title here</title>
</head>
<body>
		<section>
		<div>
		
		<form method="get" action="/downloadTissPdf">
		<p>Padrao TISS - componente organizacional <button type="submit"> <strong>Download</strong> </button></p>
		</form>
		
		<form method="get" action="/downloadCsvZip">
		<p>Qual ou quais quadros você deseja fazer download?</p>
		<p><input type="checkbox" name="cb_padraoTiss"> Tabela de Categoria do Padrão TISS.</p> 
		<p> <input type="checkbox" name="cb_demandante"> Tabela de Tipo do Demandante.</p>
		<p><input type="checkbox" name="cb_solicitacao"> Tabela de Tipo de Solicitação.</p>
		<button type="submit"> <strong>Download</strong> </button>
		</form>
		
		</div>
		
		
		<form method="post"></form>
		</section>
		
		
		
</body>
</html>